Source: xfce4-notes-plugin
Section: xfce
Priority: optional
Maintainer: Filip Danilovic <filip@openmailbox.org>
Build-Depends: autotools-dev, debhelper (>= 9), xfce4-panel-dev, libxml2-dev,
 libxml-parser-perl, intltool, libx11-dev, pkg-config, libgtk2.0-dev,
 libxfcegui4-dev, libxfconf-0-dev, libunique-dev, xfce4-dev-tools, automake,
 libtool, autotools-dev
Standards-Version: 3.9.6
Homepage: http://goodies.xfce.org/projects/panel-plugins/xfce4-notes-plugin
Vcs-Svn: svn://anonscm.debian.org/pkg-xfce/goodies/trunk/xfce4-notes-plugin/
Vcs-Browser: http://anonscm.debian.org/viewvc/pkg-xfce/goodies/trunk/xfce4-notes-plugin/

Package: xfce4-notes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: xfce4-notes-plugin (<< 1.7.2-1)
Conflicts: xfce4-notes-plugin (<< 1.7.2-1)
Description: Notes application for the Xfce4 desktop
 The notes tool provides you a simple text editor in a little window for the 
 Xfce 4 desktop.  Notes are especially useful for temporary stuff.
 .
 It supports multiple notes through a notebook. Click on the upper left
 corner button to open a new note.

Package: xfce4-notes-plugin
Architecture: any
Depends: xfce4-notes, ${shlibs:Depends}, ${misc:Depends}
Description: Notes plugin for the Xfce4 desktop
 The notes tool provides you a simple text editor in a little window for the 
 Xfce 4 desktop.  Notes are especially useful for temporary stuff.
 .
 It supports multiple notes through a notebook. Click on the upper left
 corner button to open a new note.
 .
 This package contains the xfce4-panel plugin.
